<style>
:root {
  --kbccblue: #003466;
  --kbccorange: #ff4e00;
  --text: #111;
}

body {
  color: var(--text);
  overflow-x: hidden;
}

a,
a:hover {
  text-decoration: none;
}

/* style slide out chat */
a[id^="lcs_slide_out_button-"] {  /* matches ids that start with string */
  font-size: 1.5em;
}

/* style header */
#library-logo-div {
  text-align: center;
}
#top-row {
  margin-top: 30px;
}

/* have bootstrap dropdowns fade in and out */
.dropdown-menu.fade {
  display: block;
  opacity: 0;
  pointer-events: none;
}
.open > .dropdown-menu.fade {
  pointer-events: auto;
  opacity: 1;
}
.fade {
  -webkit-transition-duration: 5s; /* Safari */
  transition-duration: 0.5s;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

/* style the login at the top right */
#login-div {
  float: right;
  padding: 8px 15px 0 0;
  color: var(--kbccblue);
  font-size: 1.5em;
}
#login-text {
  display: inline-block;
  vertical-align: -2px;
}
#login-icon {
  display: inline-block;
  margin-left: 5px;
}

/* style background image */
#kbcc-background-image {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.6) 100%
    ),
    url("https://libapps.s3.amazonaws.com/accounts/16298/images/library_front_view.jpg");
  background-position: 50% 71%;
  padding: 20px 0;
  border-radius: 5px;
  background-size: cover;
  margin: 0 0 30px 0;
}

/* style jumbotron */
.onesearch-jumbotron {
  text-align: center;
  margin-top: -40px;
}
#onesearch-header {
  font-size: 10em;
  margin-bottom: 0;
}
.zero-margin {
  margin-left: -2px;
  margin-right: -2px;
}

.zero-margin {
  margin: -2px;
}

/* style for nav by the jumbotron */
.nav-divs-by-jumbotron {
  text-align: center;
  padding: 6px;
  margin: 6px 0;
  color: white;
  background-color: var(--kbccblue);
  border-radius: 3px;
}
.nav-divs-by-jumbotron > h2 {
  font-size: 1.5em;
  margin-bottom: 4px;
  margin-top: 4px;
}
.nav-divs-by-jumbotron:hover {
  background-color: #444;
}
#eq_32886 {
  background-color: var(--kbccblue);
  border: none;
}
.nav-divs-by-jumbotron:hover > h2 > #eq_32886,
#eq_32886:hover {
  background-color: #444;
}
#bookastudyroom {
  cursor: pointer;
}

/* style link list */
.link-list {
  font-size: 1.7em;
}

/* style the panels with the text content */
.panel > .show-panel {
  background-color: var(--kbccblue);
  text-align: center;
}
.hide-body-border {
  border: none;
  box-shadow: none;
}
.glyphicon-panel-title {
  font-size: 2em;
}
.content-panel-title {
  color: white;
  font-size: 2em;
}
.content-panel-title > h2 {
  margin: 7px 0;
  font-size: 1em;
}
.panel-heading {
  padding: 2px;
}

/* style the gallery */
.slick-slide img {
  padding: 2px;
  max-height: 350px !important;
  object-fit: contain;
  margin: 0;
}
.s-lib-public-side-header {
  display: none;
}
.slick-active {
  outline: 0;
}

/* make the slick arrows bigger; adjust margin and padding around big arrows */
.slick-prev:before, .slick-next:before {
  font-size: 40px !important;
}
.slick-prev:before {
  margin-left: -30px;
}
button.slick-next.slick-arrow, button.slick-prev.slick-arrow {
  height: 40px !important;
  width: 40px !important;
}
button.slick-next.slick-arrow {
  padding-top: 3px;
}
button.slick-prev.slick-arrow {
  padding: 3px;
  padding-left: 30px;
}

/* style to make all imported boxes floating */
.s-lib-box-title {
  display: none;
}
.s-lg-box {
  box-shadow: none !important;
}
.s-lib-box .s-lib-box-title {
  display: none;
}
.s-lib-box {
  box-shadow: none !important;
  border: 0 !important;
}

/* style the dropdown menus */
.dropdown-margin {
  padding: 20px 0;
}
.bigger-fancy-text {
  font-size: 1.2em;
  padding: 5px;
}
.bigger-icon {
  font-size: 1.5em;
  margin-right: 8px;
}
.caret-text {
  display: inline-block;
  color: var(--kbccblue);
  font-weight: bold;
}
.fancy-caret {
  display: inline-block;
  margin-left: 8px;
  color: var(--kbccblue);
}
.open > a > .fancy-caret {
  margin-bottom: -4px;
  vertical-align: -4px;
  display: inline-block;
}
.open > a > .caret-text {
  vertical-align: -1px;
}

/* media queries */

@media only screen and (min-width: 1px) {
  #library-logo {
    max-width: 100%;
    max-height: 150px;
  }
  .form-width {
    width: 40%;
  }
  .nav-by-jumbotron {
    margin-top: 40px !important;
  }
}

@media only screen and (max-width: 768px) {
  #login-text {
    display: none;
  }
  #defineYourSearch {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .nav-by-jumbotron {
    margin-top: 0 !important;
  }
}

@media only screen and (min-width: 1px) and (max-width: 992px) {
  #hamburger-alternative {
    display: none;
  }
  #kbcc-background-image {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 992px) {
  #library-logo {
    max-width: 100%;
    max-height: 350px;
  }
  #kbcc-background-image {
    margin-top: -15px;
  }
}

@media only screen and (min-width: 1200px) {
  #library-logo {
    margin-top: -3px;
  }
}
</style>
